@font-face {
	font-family: "unifont";
	src: url("unifont-12.0.01.woff2");
}
@font-face {
	font-family: "unifont-upper";
	src: url("unifont_upper-12.0.01.woff2");
	unicode-range: U+10000-10FFFF;
}

body {
	font-family: "unifont", "unifont-upper"
}

p {
	font-size: 2em;
}
